@using System.Security.Claims
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">

        <h1 class="display-4">Добро пожаловать!</h1>

    <p>Авторизуйтесь, чтобы подарить подарок!</p>
</div>
