@model JwtTest.Models.MyPage
@{
    ViewData["Title"] = "Моя страница подарков";
}
<div>
    <h4>UserInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gift)
        </dt>
    </dl>
 </div>